@use "styles/variables" as *;

.main {
  padding: 32px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 96px;
  margin-top: 96px;
}

.heading {
  font-size: 3rem;
  max-width: 23ch;

  span {
    color: $purple;
  }
}

.pollingImg {
  margin-top: 64px;
}
