// poppins

@font-face {
  font-family: "Poppins";
  font-weight: 400;
  src: url("../assets/font/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins";
  font-weight: 500;
  src: url("../assets/font/Poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Poppins";
  font-weight: 600;
  src: url("../assets/font/Poppins/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "Poppins";
  font-weight: 700;
  src: url("../assets/font/Poppins/Poppins-Bold.ttf");
}

// nunito

@font-face {
  font-family: "Nunito";
  font-weight: 700;
  src: url("../assets/font/Nunito/Nunito-Bold.ttf");
}

// noto sans
@font-face {
  font-family: "Noto Sans";
  font-weight: 500;
  src: url("../assets/font/NotoSans/NotoSans-Medium.ttf");
}

%heading1 {
  font-weight: 600;
  font-size: 2rem;
}

%heading2 {
  font-weight: 500;
  font-size: 1.5rem;
}
