@use "styles/variables" as *;

.drawer {
  position: fixed;
  left: 0;
  height: 100vh;
  background-color: $purple;
  width: 272px;
  z-index: 1;
  overflow: hidden;
}

.content {
  padding: 32px;
}

.closeButton {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 32px;
  height: 32px;
}

.closeButton img {
  width: 100%;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-weight: 500;
  color: #fff;
  margin-top: 64px;

  a {
    display: flex;
    gap: 16px;
    padding: 12px 20px;
    width: 192px;
  }
}

.active {
  background-color: #fff;
  border-radius: 16px;
  color: $purple;
}

@media screen and (min-width: 1024px) {
  .closeButton {
    display: none;
  }
}
