@use "styles/typography";
@use "styles/variables" as *;

.form {
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  position: relative;
}

.heading {
  @extend %heading2;
}

.label {
  color: #3d3d3d;
  margin-top: 2rem;
  display: block;
}

.input {
  margin-top: 0.5rem;
}

.button {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: auto;
  margin-top: 3rem;
  width: 100%;
  justify-content: center;
}

.closeButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2rem;
  aspect-ratio: 1 / 1;
  opacity: 50%;
  background-color: #fff;
  cursor: pointer;
}

.icon {
  width: 100%;
}

.imgInput {
  height: 200px;
  width: 100%;
  border: 1px solid $border;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
  background-color: #fff;
  cursor: pointer;
}

.imgPreviewContainer {
  position: relative;
  margin-top: 0.5rem;
}

.imgPreview {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}
