@use "styles/typography";

.content {
  margin-left: 272px;
}

.header {
  padding: 1rem 2rem;
  width: 100%;
  display: flex;
}

.heading1 {
  @extend %heading1;
}

.avatar {
  width: 2rem;
  height: 2rem;
}

.user {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
  margin-left: auto;
}

.logoutButton {
  margin-left: 2rem;
}
