@use "styles/typography";
@use "styles/variables" as *;

.container {
  margin-top: 3rem;
}

.headingContainer {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.content {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.heading2 {
  @extend %heading2;
}

.addCandidateButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: 305px;
  box-shadow: $shadow;
  padding: 13px;
  border-radius: 10px;
  background-color: #fff;
  height: 230px;
  font-weight: 600;
  cursor: pointer;
}
