@use "styles/variables" as *;
@use "styles/typography";

.button {
  background-color: $purple;
  padding: 1rem 2rem;
  font-family: "Nunito";
  font-weight: bold;
  font-size: 1.25rem;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

.fluid-true {
  width: 100%;
}

.small {
  padding: 0.5rem 1.5rem;
}

.secondary {
  background-color: #263238;
}
