@use "styles/variables" as *;

.container {
  position: relative;
  width: 100%;
  max-width: 305px;
  height: 230px;
  box-shadow: $shadow;
  display: inline-flex;
  flex-direction: column;
  padding: 13px;
  border-radius: 10px;
}

.imgWrapper {
  width: 100%;
  aspect-ratio: 1 / 0.5;
  background-color: gray;
  border-radius: 10px;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.content {
  font-size: 19px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.name {
  font-weight: 600;
  margin-top: 0.25rem;
}

.button.button {
  font-size: inherit;
  padding: 0.5rem 1.25rem;
  border-radius: 10px;
}

.voted {
  color: red;
  font-size: 0.75rem;
  position: absolute;
  bottom: 0.5rem;
}

.votes {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  font-family: Poppins;
  padding: 0.5rem 1rem;
  font-weight: 600;
  background-color: #fff;
  border-radius: 6px;
}

.rank {
  display: flex;
  align-items: center;
  color: #fff;
  border-radius: 10px;
  padding: 0 16px;
  height: 48px;
}

.first {
  background-color: #35b814;
}

.second {
  background-color: #ff8a00;
}

.third {
  background-color: #db1c58;
}

.default {
  background-color: black;
}
