@use "styles/variables" as *;

.container {
  width: 100%;
  max-width: 305px;
  box-shadow: $shadow;
  display: inline-block;
  padding: 13px;
  padding-bottom: 1.75rem;
  border-radius: 10px;
}

.imgWrapper {
  overflow: hidden;
  aspect-ratio: 1 / 0.5;
  background-color: gray;
  border-radius: 10px;

  img {
    object-fit: cover;
  }
}

.content {
  font-size: 19px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}

.name {
  font-weight: 600;
}

.button {
  font-size: inherit;
}
